In [1]:
import piplite
await piplite.install(['numpy'])
await piplite.install(['pandas'])

In [2]:
# Pandas is a software library written for the Python programming language for data manipulation and analysis.
import pandas as pd
#NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays
import numpy as np

In [3]:
from js import fetch
import io

URL = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/dataset_part_1.csv'
resp = await fetch(URL)
dataset_part_1_csv = io.BytesIO((await resp.arrayBuffer()).to_py())

In [4]:
df=pd.read_csv(dataset_part_1_csv)
df.head(10)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857
5,6,2014-01-06,Falcon 9,3325.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1005,-80.577366,28.561857
6,7,2014-04-18,Falcon 9,2296.000000,ISS,CCAFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,0,B1006,-80.577366,28.561857
7,8,2014-07-14,Falcon 9,1316.000000,LEO,CCAFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,0,B1007,-80.577366,28.561857
8,9,2014-08-05,Falcon 9,4535.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1008,-80.577366,28.561857
9,10,2014-09-07,Falcon 9,4428.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1011,-80.577366,28.561857

In [5]:
df.isnull().sum()/df.shape[0]*100

FlightNumber       0.000000
Date               0.000000
BoosterVersion     0.000000
PayloadMass        0.000000
Orbit              0.000000
LaunchSite         0.000000
Outcome            0.000000
Flights            0.000000
GridFins           0.000000
Reused             0.000000
Legs               0.000000
LandingPad        28.888889
Block              0.000000
ReusedCount        0.000000
Serial             0.000000
Longitude          0.000000
Latitude           0.000000
dtype: float64

In [6]:
df.dtypes

FlightNumber        int64
Date               object
BoosterVersion     object
PayloadMass       float64
Orbit              object
LaunchSite         object
Outcome            object
Flights             int64
GridFins             bool
Reused               bool
Legs                 bool
LandingPad         object
Block             float64
ReusedCount         int64
Serial             object
Longitude         float64
Latitude          float64
dtype: object

In [7]:
launch_counts = df['LaunchSite'].value_counts()
print(launch_counts)

CCAFS SLC 40    55
KSC LC 39A      22
VAFB SLC 4E     13
Name: LaunchSite, dtype: int64

In [8]:
orbit_counts = df['Orbit'].value_counts()
print(orbit_counts)

GTO      27
ISS      21
VLEO     14
PO        9
LEO       7
SSO       5
MEO       3
ES-L1     1
HEO       1
SO        1
GEO       1
Name: Orbit, dtype: int64

In [9]:
landing_outcomes = df.groupby('Orbit')['Outcome'].value_counts()
print(landing_outcomes)

Orbit  Outcome
ES-L1  True Ocean      1
GEO    True ASDS       1
GTO    True ASDS      13
       None None      11
       False ASDS      1
       None ASDS       1
       True Ocean      1
HEO    True ASDS       1
ISS    True RTLS       7
       True ASDS       5
       None None       3
       False ASDS      2
       False Ocean     1
       False RTLS      1
       None ASDS       1
       True Ocean      1
LEO    True RTLS       4
       None None       2
       True Ocean      1
MEO    True ASDS       2
       None None       1
PO     True ASDS       5
       False ASDS      1
       False Ocean     1
       None None       1
       True Ocean      1
SO     None None       1
SSO    True RTLS       3
       True ASDS       2
VLEO   True ASDS      12
       False ASDS      2
Name: Outcome, dtype: int64

In [10]:
for i,outcome in enumerate(landing_outcomes.keys()):
    print(i,outcome)

0 ('ES-L1', 'True Ocean')
1 ('GEO', 'True ASDS')
2 ('GTO', 'True ASDS')
3 ('GTO', 'None None')
4 ('GTO', 'False ASDS')
5 ('GTO', 'None ASDS')
6 ('GTO', 'True Ocean')
7 ('HEO', 'True ASDS')
8 ('ISS', 'True RTLS')
9 ('ISS', 'True ASDS')
10 ('ISS', 'None None')
11 ('ISS', 'False ASDS')
12 ('ISS', 'False Ocean')
13 ('ISS', 'False RTLS')
14 ('ISS', 'None ASDS')
15 ('ISS', 'True Ocean')
16 ('LEO', 'True RTLS')
17 ('LEO', 'None None')
18 ('LEO', 'True Ocean')
19 ('MEO', 'True ASDS')
20 ('MEO', 'None None')
21 ('PO', 'True ASDS')
22 ('PO', 'False ASDS')
23 ('PO', 'False Ocean')
24 ('PO', 'None None')
25 ('PO', 'True Ocean')
26 ('SO', 'None None')
27 ('SSO', 'True RTLS')
28 ('SSO', 'True ASDS')
29 ('VLEO', 'True ASDS')
30 ('VLEO', 'False ASDS')

In [11]:
bad_outcomes=set(landing_outcomes.keys()[[1,3,5,6,7]])
bad_outcomes

{('GEO', 'True ASDS'),
 ('GTO', 'None ASDS'),
 ('GTO', 'None None'),
 ('GTO', 'True Ocean'),
 ('HEO', 'True ASDS')}

In [12]:
# Create a list where the element is 0 if the corresponding row in 'Outcome' is in the set bad_outcomes; otherwise, it's 1
# landing_class = 0 if bad_outcome
# landing_class = 1 otherwise
landing_class = [0 if outcome in bad_outcomes else 1 for outcome in df['Outcome']]

# Print the first few elements of landing_class to verify
print(landing_class[:10])

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]